@{
    ViewData["Title"] = "Dashbourd";
    Layout = "_DashbourdLayout";
}
<div>
    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-4">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Number Of Customers</p>
                        <h6 class="mb-0" id="numofcustomer"></h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-bar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Number Of Products</p>
                        <h6 class="mb-0" id="numOfProds"></h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-area fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Today Revenue</p>
                        <h6 class="mb-0 " id="TotalOrdersPrice">$1234</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sale & Revenue End -->

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div id="partialview">
        </div>
    </div>
    <!-- Recent Sales End -->
    
</div>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        // $("#partialview").load('/dashboard/getOrdersPartial');

    })
</script>
<script>
    $(document).ready(function () {

        $.ajax({
            url: '/Dashboard/numberOfUsers',
            type: 'GET',
            dataType: 'json'
            , success: function (result) {
                $('#numofcustomer').html(result);
                console.log(result);
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            url: '/Dashboard/numOfProducts',
            //contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'json'
            , success: function (result) {
                $('#numOfProds').html(result);
                console.log(result);
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
        // $.ajax({
        //     url: '/Dashboard/GetTotalOrdersPrice',
        //     contentType: 'application/html; charset=utf-8',
        //     type: 'GET',
        //     dataType: 'json'
        //     , success: function (result) {
        //         $('#TotalOrdersPrice').html(result);
        //         console.log(result);
        //     },
        //     error: function (xhr, status) {
        //         alert(status);
        //     }
        // });
    })
</script>