@model Shopegy.Models.ProductCategorie


@* <tbody class="align-middle">
    <tr>
        <td class="align-middle"><img src="~/img/@Model.ImageUrl" alt="" style="width: 50px;"> @Model.Name</td>
        <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
 *@
<tr>
    <td class="align-middle d-flex align-items-center gap-2">
        <img src="~/img/@Model.ImageUrl" alt="@Model.Name" class="rounded" style="width: 50px; height: 50px; object-fit: cover;">
        <span class="fw-semibold">@Model.Name</span>
    </td>

    <td class="align-middle">
        <div class="input-group input-group-sm mx-auto" style="width: 120px;">
            <button class="btn btn-outline-secondary" type="button">-</button>
            <input type="text" class="form-control text-center" value="1">
            <button class="btn btn-outline-secondary" type="button">+</button>
        </div>
    </td>
</tr>

