@model Shopegy.Models.ProductCategorie


@* <tbody class="align-middle">
    <tr>
        <td class="align-middle"><img src="~/img/@Model.ImageUrl" alt="" style="width: 50px;"> @Model.Name</td>
        <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
 *@

@* <a class="text-decoration-none" href=""> *@
<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
<a asp-action="Index" asp-controller="Shop" asp-route-categoryId="@Model.ProductCategorieID" class="text-decoration-none">
    <div class="cat-item d-flex align-items-center mb-4">
        <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="~/img/@Model.ImageUrl" alt="">
        </div>
        <div class="flex-fill pl-3">
            <h6>@Model.Name</h6>
            <small class="text-body">100 Products</small>
        </div>
    </div>
</a>
</div>


@* <td class="align-middle"> *@
@*     <div class="input-group input-group-sm mx-auto" style="width: 120px;"> *@


@*         <button class="btn btn-outline-secondary" type="button">+</button> *@
@*     </div> *@
@* </td> *@
@* </tr> *@
